.submit{
    position: relative;
    margin-top: 15px ;
    &__input{
        position: relative;
        margin: 0 auto;
        width: 350px;
        font-size: 1.3rem;
        line-height: 2rem;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-right: 25px;
        &:active, &:hover, &:focus {
            outline: 0;
            outline-offset: 0;
        }
        &:hover{
            border-bottom:2px solid rgb(78, 139, 252);
        }
    }
    &__btn{
        cursor: pointer;
        border: none;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        color: rgb(179, 34, 34);
        background-color: rgb(78, 139, 252);
        font-size: 2rem;
        line-height: 2rem;
        padding: 1px;
        transition: .5s;
        &:hover {
            background: #60ce34 linear-gradient(#178113, #10a71d);
            box-shadow: 3px 5px 5px rgba(0,0,0,.1);
          }
        &:active {
            color: rgb(26, 202, 64);
            background: rgb(202, 140, 26) linear-gradient(rgb(175, 130, 7), rgb(126, 108, 26));
          }
    }
}